<div class="col-12 justify-content-between row pt-3" >
    <a asp-controller="WaterBill" asp-action="Add" class="col-3 btn btn-success text-center"
       style="margin-top:20%"><i class="fas fa-hand-holding-water fa-5x pt-2"></i> <div style="height:100px; padding-top:30px">Water bill</div></a>

    <a asp-controller="TicketBill" asp-action="Add" class="col-3 btn btn-success text-center"
       style="margin-top:20%"><i class="fas fa-bus fa-5x pt-2"></i><div style="height:100px; padding-top:30px"> Ticket bill</div></a>

    <a asp-controller="FuelBill" asp-action="Add" class="col-3 btn btn-success text-center"
       style="margin-top:20%"><i class="fas fa-gas-pump fa-5x pt-2"></i> <div style="height:100px; padding-top:30px">Fuel bill</div></a>
</div>