<div class="col-12">
    <a asp-controller="WaterBill" asp-action="Add" class="col-3  btn btn-success text-center"><i class="fas fa-hand-holding-water"></i> Water bill</a>
    <a asp-controller="TicketBill" asp-action="Add" class="col-3  btn btn-success text-center"><i class="fas fa-bus"></i> Ticket bill</a>
    <a asp-controller="FuelBill" asp-action="Add" class="col-3  btn btn-success text-center"><i class="fas fa-gas-pump"></i> Fuel bill</a>
</div>