<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EkoApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/35fbecad1a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
            <div class="container">

                <div class="navbar-collapse collapse d-flex justify-content-center d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item flex-fill">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Calendar" asp-action="Index"><i class="far fa-calendar-alt"></i></a>
                            </h6>
                        </li>
                        <li class="nav-item flex-fill">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Summary" asp-action="Index"><i class="fas fa-chart-line"></i></a>
                            </h6>
                        </li>
                        <li class="nav-item flex-fill">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Bill" asp-action="Index"><i class="fas fa-wallet"></i></a>
                            </h6>
                        </li>
                        <li class="nav-item flex-fill">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Account" asp-action="Index"><i class="fas fa-user"></i></a>
                            </h6>
                        </li>
                        <li class="nav-item flex-fill">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Statistic" asp-action="Index"><i class="fas fa-star"></i></a>
                            </h6>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EkoApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
