<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EkoApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/35fbecad1a.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow">
            <div class="container">

                <div class="navbar-collapse collapse d-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex justify-content-between mx-3">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="PetrolStation" asp-action="Index"><i class="fas fa-gas-pump fa-3x"></i></a>
                            </h6>
                        </li>
                        <li class="nav-item d-flex justify-content-between mx-3">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Account" asp-action="Home"><i class="fas fa-plus fa-3x"></i></a>
                            </h6>
                        </li>
                        @*<li class="nav-item d-flex justify-content-between mx-3">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Summary" asp-action="Index"><i class="fas fa-chart-line fa-3x"></i></a>
                            </h6>
                        </li>*@
                        <li class="nav-item d-flex justify-content-between mx-3">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Statistic" asp-action="AllBills"><i class="fas fa-wallet fa-3x"></i></a>
                            </h6>
                        </li>
                        @*<li class="nav-ite d-flex justify-content-between mx-3">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Account" asp-action="Index"><i class="fas fa-user fa-3x"></i></a>
                            </h6>
                        </li>*@
                        <li class="nav-item d-flex justify-content-between mx-3">
                            <h6>
                                <a class="nav-link text-white text-center" asp-area="" asp-controller="Account" asp-action="LogOut"><i class="fas fa-sign-out-alt fa-3x"></i></a>
                            </h6>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url('/Image/background.jpg');
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <div class="bg">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
