@model TicketBill

@{
    ViewData["Title"] = "Ticket Bill";
}

<div class="col-12 justify-content-center row">
    <h1 class="col-4 text-center rounded " style="background-color:white; margin-top:20%">
        Add ticket bill
    </h1>
</div>

<hr />
<div class="row">
    <div class="col-12 p-3 mt-5">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-3 text-center">
                    <label asp-for="Price"  class="control-label h5 p-2 rounded" style="background-color:white"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Price" class="form-control" value="0.00" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="btn-group col-6 offset-3">
                    <input type="submit" class="btn btn-success" value="Add Bill" />
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
